<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Revachol-Sport-Club</title>
	<link rel="icon" href="{% static "images/icon.webp" %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static "css/index.css" %}?version=1">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <script src="{% static "Menu_animation.js" %}"></script>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
             <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="78%"><p align="left" class="Logo-text"><a href="{% url 'main_page' %}">Ревашольский спортивный кружок</a></p></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}">{{user}}</a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
        </table>
        {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_user' %}"><button type="button" class="header-button">Просмотр и создание заявок</button></a></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button">Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table">
                        <table width="90%" border="1" cellspacing="0" cellpadding="5" bgcolor="white" style="margin: 30px;">
                            <tr>
                                <td><p align="center" class="table-heading">Название</p></td>
                                <td><p align="center" class="table-heading">Наличие</p></td>
                                <td><p align="center" class="table-heading">Состояние</p></td>
                                <td><p align="center" class="table-heading">Принадлежность</p></td>
                            </tr>
                            {% for i in inventory %}
                                <tr>
                                    <td><p class="table-text">{{i.1}}</p></td>
                                    <td><p class="table-text">{{i.2}}</p></td>
                                    <td><p class="table-text">{{i.3}}</p></td>
                                    <td><p class="table-text">{{i.4}}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
        </div>
    </body>
</html>