<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Вход</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="32%"><a href="{% url 'main_page' %}"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></a></td>
                <td width="46%"></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}"><i>{{user}}</i></a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
       </table>
       {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><button type="button" class="header-button"><a href="{% url 'applications_user' %}">Просмотр и создание заявок</a></button></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button">Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table" style="width: 25%; left: 37%; backdrop-filter: blur(10px);">
            <table width="90%" cellpadding="0" cellspacing="0" height="1000px">
                <tr>
                    <td width="20%" valign="top">
                        <br>
                        <p align="center" class="Logo-text">Вход</p>
                        <hr>
                        <br>
                        <div>
                            <form method="post"> {% csrf_token %}
                                <div>
                                    <label class="form-standart-label">Username</label>
                                    <input name="username" id="username" type="username" placeholder="Введите имя пользователя" class="form-standart-input">
                                </div>
                                <br>
                                <div>
                                    <label class="form-standart-label">Password</label>
                                    <input name="password" id="password" type="password" placeholder="Введите пароль" class="form-standart-input">
                                </div>
                                <div>
                                    <button type="submit" class="form-standart-button">Войти</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>