<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Вход</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="78%"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}">{{user}}</a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
       </table>
       <table width="100%" cellpadding="0" cellspacing="0" height="1000px">
        <tr>
            <td style="background-image: linear-gradient(to right, #5a5a5a, #ffffff);" width="40%"></td>
            <td width="20%" valign="top">
                <br>
                <p align="center" class="Logo-text">Вход</p>
                <hr>
                <br>
                <div>
                    <form method="post"> {% csrf_token %}
                        <div>
                            <label class="form-standart-label">Username</label>
                            <input name="username" id="username" type="username" placeholder="Tequila_Sunset_" class="form-standart-input">
                        </div>
                        <br>
                        <div>
                            <label class="form-standart-label">Password</label>
                            <input name="password" id="password" type="password" placeholder="Superstar_Cop_228" class="form-standart-input">
                        </div>
                        <div>
                            <button type="submit" class="form-standart-button">Принять</button>
                        </div>
                    </form>
                </div>
            </td>
            <td style="background-image: linear-gradient(to left, #5a5a5a, #ffffff);" width="40%"></td>
        </tr>
    </table>
        
    </body>
</html>