<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Профиль</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
    </head>
    <body>
      <table class="header" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
            <td valign="center" width="32%"><a href="{% url 'main_page' %}"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></a></td>
            <td width="50%"></td>
            {% if not user.is_authenticated %}
                <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
            {% else %}
                <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}"><i>{{user}}</i></a></p></td>
                <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
            {% endif %}
        </tr>
      </table>
      {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><button type="button" class="header-button"><a href="{% url 'applications_user' %}">Просмотр и создание заявок</a></button></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button">Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table">
            <table width="90%" cellpadding="0" cellspacing="0" height="1000px">
                <tr>
                    <td valign='top'>
                        <br>
                        <p align="center" class="Logo-text">Мой инвентарь</p>
                        <hr>
                        <table width="100%" cellspacing="0" cellpadding="3" border="1" bgcolor="white">
                            <tr>
                                <td><p class="table-heading" align="center">Название</p></td>
                                <td><p class="table-heading" align="center">Наличие</p></td>
                                <td><p class="table-heading" align="center">Состояние</p></td>
                            </tr>
                            {% for i in my_inventory%}
                                <tr>
                                    <td><p class="table-text">{{i.0}}</p></td>
                                    <td><p class="table-text">{{i.1}}</p></td>
                                    <td><p class="table-text">{{i.2}}</p></td>
                                </tr>
                            {% endfor %}

                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>