<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Отчёт об инвентаре</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="32%"><a href="{% url 'main_page' %}"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></a></td>
                <td width="50%"></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}"><i>{{user}}</i></a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
        </table>
        {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><button type="button" class="header-button"><a href="{% url 'applications_user' %}">Просмотр и создание заявок</a></button></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button visited";>Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table">
            <table width="90%" cellpadding="0" cellspacing="0" height="1300px">
                <tr>
                    <td valign="top">
                        <br>
                        <p class="Logo-text" align="left">Всего инструментов: {{information.0}}</p>

                        <ul>
                            {% for i in instrument_names %}
                                <li><p class="table-heading">{{i.0}}: {{i.1}}</p></li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <br>
                        <p class="Logo-text" align="left">Используемых инструментов: {{information.2}}</p>

                        <ul>
                            {% for i in users_instruments %}
                                <li><p class="table-heading">Используется пользователем {{i.0}} ({{i.1|length}}): {% if i.1|length == 0 %} - {% else %} {% for j in i.1 %} {{j}}; {% endfor %} {% endif %}</p></li>
                            {% endfor %}
                        </ul>
                        <br>
                        <hr>
                        <p class="Logo-text" align="left">Новых инструментов: {{information.1}}</p>
                        <br>
                        <hr>
                        <p class="Logo-text" align="left">Сломанных инструментов: {{information.3}}</p>
                        <br>
                        <hr>
                        <p class="Logo-text" align="left">Инструментов в ремонте: {{information.4}}</p>
                        <br>
                        <form method = "POST"> {% csrf_token %}
                            <button class="form-standart-button" type="submit" style="width: 20%; --reming: 20rem;">Скачать отчёт</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>