<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Редактирование инвентаря</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="78%"><a href="{% url 'main_page' %}"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></a></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}">{{user}}</a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
        </table>
        {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><button type="button" class="header-button"><a href="{% url 'applications_user' %}">Просмотр и создание заявок</a></button></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button"; style="font-size: 19px; background-color: rgb(233, 174, 48) ">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button">Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table" style="width: 92%; left: 3%">
            <table width="95%" cellpadding="10" cellspacing="0" height="1000px">
                <tr>
                    <td valign="top" width="39%">
                        <br>
                        <p class="Logo-text" align="center">Добавление позиций инвентаря</p>
                        <hr>
                        <form method="POST"> {% csrf_token %}
                            <table width="100%" cellpadding="3" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <label class="form-standart-label">Название</label>
                                        <input name="name" class="form-standart-input" style="font-size: 16px; height: 15px" placeholder="Мяч"></input>
                                    </td>
                                    <td>
                                        <label class="form-standart-label">Наличие</label>
                                        <select name="availability" class="form-standart-select" style="height: 33px; margin: 0">
                                            <option>Есть</option>
                                            <option>Нет</option>
                                        </select>
                                    </td>
                                    <td width="20%">
                                        <label class="form-standart-label">Количество</label>
                                        <input name="quantity" class="form-standart-input" style="font-size: 16px; height: 15px" value="1"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td><br>
                                        <label class="form-standart-label">Состояние</label>
                                        <select name="condition" class="form-standart-select" style="height: 33px; margin: 0">
                                            {% for i in possible_conditions %}
                                                <option>{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><br>
                                        <label class="form-standart-label">Принадлежность</label>
                                        <select name="belonging" class="form-standart-select" style="height: 33px; margin: 0">
                                            {% for i in possible_users %}
                                                <option>{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td valign="bottom"><br><button class="form-standart-button" style="width: 100%; margin: 0; height: 33px; font-size: 20px;">Принять</button></td>
                                </tr>
                            </table>
                        </form>
                        {% if error %}
                            <p class="table-heading" style="color: red;">Вы не заполнили поле названия инструмента!</p>
                        {% endif %}
                    </td>
                    <td valign="top" width="49%">
                        <br>
                        <p class="Logo-text" align="center">Редактирование позиций инвентаря</p>
                        <hr>
                        <table width="100%" border="1" cellspacing="0" cellpadding="5" bgcolor="white">
                            <tr>
                                <td><p align="center" class="table-heading">Название</p></td>
                                <td><p align="center" class="table-heading">Состояние</p></td>
                                <td><p align="center" class="table-heading">Принадлежность</p></td>
                                <td><p align="center" class="table-heading">Редактирование</p></td>
                                <td><p align="center" class="table-heading">Удаление</p></td>
                            </tr>
                            {% for i in inventory %}
                                <tr>
                                    <td><p class="table-text">{{i.1}}</p></td>
                                    <td><p class="table-text">{{i.3}}</p></td>
                                    <td><p class="table-text">{{i.4}}</p></td>
                                    <td><p align="center" class="table-text"><a href="{% url 'edit_instrument' i.0 %}"><button type="button" class="form-standart-button" style="width: 80%; height: 30px; font-size: 17px; border-radius: 0.9rem">Редактировать</button></a></p>
                                    <td><p align="center" class="table-text"><a href="{% url 'delete_instrument' i.0 %}"><button type="button" class="form-delete-button" style="width: 80%; height: 30px; font-size: 17px; border-radius: 0.9rem;">Удалить</button></a></p>
                                </tr>
                            {% endfor %}
                        </table>

                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>