@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.form-standart-label {
    display: block;
    width: 100%;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 28px;
    margin: 0.5rem;
    margin-left: 0;
}
.form-standart-input {
    display: block;
    width: 93%;
    height: 34px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    border: 1px solid #999999;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-standart-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
button {
    font-family: "Roboto";
    border-radius: 0.25rem;
    font-size: 20px;
    margin: 0.7rem;
    margin-right: 0;
    margin-left: 0;
    display: block;
    width: 30%;
    height: 37px;
    cursor: pointer;
    background-color: rgb(39, 170, 35);
    border: 1px solid #686868;
    transition: all 0.25s ease-in-out;
}
button.form-delete-button {
    background-color: rgb(236, 154, 30);
    transition: all 0.3s ease-in-out;
}
.form-standart-select {
    display: block;
    width: 100%;
}
.form-standart-button {
    --reming: 12rem;
}
.form-standart-button:hover {
    border: 1px solid rgb(37, 37, 37);
    transform: scale(104%);
    box-shadow: inset var(--reming) 0 0 0 rgb(30, 143, 26);
    color: rgb(255, 255, 255);
}
button.form-delete-button:hover {
    border: 1px solid rgb(37, 37, 37);
    background-color: rgb(236, 54, 30);
    box-shadow: 4px 4px rgb(236, 71, 30);
    transform: scale(95%);
    color: white;
}