<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Заявки</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="78%"><a href="{% url 'main_page' %}"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></a></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}">{{user}}</a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
        </table>
        {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><button type="button" class="header-button"><a href="{% url 'applications_user' %}">Просмотр и создание заявок</a></button></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button"; style="font-size: 19px; background-color: rgb(233, 174, 48) ">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button">Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table">
            <table width="90%" cellpadding="0" cellspacing="0" height="1000px">
                <tr>
                    <td valign="top">
                        <br>
                    <p align="center" class="Logo-text">Пользовательские заявки</p>
                    <hr>
                        <form method="POST"> {% csrf_token %}
                            <table width="100%" cellpadding="5" cellspacing="0" border="1" bgcolor="white">
                                <tr>   
                                    <td><p align="center" class="table-heading">Пользователь</p></td>
                                    <td><p align="center" class="table-heading">Запрашиваемый инструмент</p></td>
                                    <td><p align="center" class="table-heading">Принадлежность</p></td>
                                    <td width="20%"><p align="center" class="table-heading">Решение</p></td>
                                </tr>

                                {% for i in applications_data %}
                                    <tr>
                                        <td><p class="table-text">{{i.1}}</p></td>
                                        <td><p class="table-text">{{i.2}}</p></td>
                                        <td><p class="table-text">{{i.3}}</p></td>
                                        <td>
                                            <label class="form-standart-label" style="font-size: 20px"><input class="custom-radio" type="radio" value="ignore" name="application{{i.0}}" checked>Игнорировать</input></label>
                                            <label class="form-standart-label" style="font-size: 20px"><input class="custom-radio" type="radio" value="confirm" name="application{{i.0}}">Одобрить</input></label>
                                            <label class="form-standart-label" style="font-size: 20px"><input class="custom-radio" type="radio" value="decline" name="application{{i.0}}">Отклонить</input></label>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table> 
                            <table width="100%" cellpadding="5" cellspacing="0"> 
                                <tr>
                                    <td colspan="4" width="80%"></td>
                                    <td align="center"><button class="form-standart-button" type="submit" style="width: 80%;">Принять</button></td>
                                </tr>
                            </table> 
                        </form>
                    </td>
                </tr>
            </table>
        </div>


    </body>
</html>
    