<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Заявки</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>
        <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" width="4%"><a href="{% url 'main_page' %}"><img class="Logo" width="100%" src="{% static "images/Logo.webp" %}"></a></td>
                <td valign="center" width="32%"><a href="{% url 'main_page' %}"><p align="left" class="Logo-text">Ревашольский спортивный кружок</p></a></td>
                <td width="50%"></td>
                {% if not user.is_authenticated %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'login' %}">Вход</a></p></td>
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'register' %}">Регистрация</a></p></td>
                {% else %}
                    <td><p align="right" class="header-auth-text"><a class="header-auth" href="{% url 'profile' %}"><i>{{user}}</i></a></p></td>
                    <td><p align="center" class="header-auth-text"><a class="header-auth" href="{% url 'logout' %}">Выход</a></p></td>
                {% endif %}
            </tr>
          </table>
        {% if user.is_authenticated and not user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_user' %}"><button type="button" class="header-button visited";>Просмотр и создание заявок</button></a></div>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="big-container">
                <div class="container"><a href="{% url 'applications_admin' %}"><button type="button" class="header-button">Просмотр заявок пользователей</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_editing' %}"><button type="button" class="header-button">Редактирование позиций инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_purchase' %}"><button type="button" class="header-button">Закупка инвентаря</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'inventory_report'%}"><button type="button" class="header-button">Отчёт об инвентаре</button></a></div>
                <div class="vertical-line"></div>
                <div class="container"><a href="{% url 'users'%}"><button type="button" class="header-button">Пользователи</button></a></div>
            </div>
        {% endif%}
        <div class="background"><img src="{% static "images/Background.png" %}" width="100%"></div>
        <div class="table" style="width: 90%; left:5%">
                    <table width="100%" cellspacing="0" cellpadding="10" style="margin: 30px;">
                        <tr>
                            <td valign="top">
                                <p align="center" class="Logo-text">Мои заявки</p>
                                <hr>
                                <table width="100%" border="1" cellpadding="5" cellspacing="0" bgcolor="white">
                                    <tr>
                                        <td><p align="center" class="table-heading">ID заявки</p></td>
                                        <td><p align="center" class="table-heading">Название инструмента</p></td>
                                        <td><p align="center" class="table-heading">Принадлежность</p></td>
                                        <td><p align="center" class="table-heading">Статус заявки</p></td>
                                    </tr>
                                    {% for i in my_applications %}
                                        <tr>
                                            <td><p class="table-text">{{i.0}}</p></td>
                                            <td><p class="table-text">{{i.1}}</p></td>
                                            <td><p class="table-text">{{i.2}}</p></td>
                                            <td><p class="table-text">{{i.3}}</p></td>
                                        </tr>
                                    {% endfor%}

                                </table>
                            </td>
                            <td width="50%" valign="top">
                                <p align="center" class="Logo-text">Создание заявки</p>
                                <hr>
                                <br>
                                {% if error %}
                                    <p class="table-heading" style="color: red">Вы уже создали заявку на этот предмет!</p>
                                {% endif %}
                                <p class="table-text" style="font-size: 26px; margin: 0; margin-bottom: 6px;">Фильтры поиска</p>
                                <form method="POST"> {% csrf_token %}
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <label class="form-standart-label" style="font-size: 20px">Название</label>
                                            <select type="name" id="name" name="name" class="form-standart-select" style="height: 25px">
                                                <option>Всё</option>
                                            {% for i in names %}
                                                {% if i == filters.0 %}
                                                    <option selected>{{i}}</option>
                                                {% else %}
                                                    <option>{{i}}</option>
                                                {% endif%}
                                            {% endfor %}
                                            </select>
                                        </td>
                                        <td width="33%">
                                            <label class="form-standart-label" style="font-size: 20px; margin-left: 10px">Состояние</label>
                                            <select type="condition" id="condition" name="condition" class="form-standart-select" style="height: 25px; margin-left: 10px">
                                            {% for i in possible_conditions %}
                                                {% if i == filters.1 %}
                                                    <option selected>{{i}}</option>
                                                {% else %}
                                                    <option>{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                            </select>

                                        </td>
                                        <td valign="bottom" width="33%" align="right"><button class="form-standart-button" style="width: 48%; margin: 0; height: 25px; font-size: 18px">Принять</button></td>
                                    </tr>
                                </table>
                                <br>
                                </form>
                                <table width="100%" border="1" cellspacing="0" cellpadding="5" bgcolor="white">
                                    <tr>
                                        <td><p align="center" class="table-heading">Название</p></td>
                                        <td><p align="center" class="table-heading">Наличие</p></td>
                                        <td><p align="center" class="table-heading">Состояние</p></td>
                                        <td><p align="center" class="table-heading">Принадлежность</p></td>
                                        <td><p align="center" class="table-heading">Запрос</p></td>
                                    </tr>
                                    {% for i in inventory %}
                                        <tr>
                                            <td><p class="table-text">{{i.1}}</p></td>
                                            <td><p class="table-text">{{i.2}}</p></td>
                                            <td><p class="table-text">{{i.3}}</p></td>
                                            <td><p class="table-text">{{i.4}}</p></td>
                                            <td><p align="center" class="table-text"><a href="{% url 'application_create' i.0 %}"><button type="button" class="form-standart-button" style="width: 97%; height: 30px; font-size: 17px; border-radius: 0.9rem; ">Запросить</button></a></p></td>
                                        </tr>
                                    {% endfor %}
                                </table>

                            </td>

                            
                        </tr>
                    </table>
                </td>
                <td style="background-image: linear-gradient(to left, rgb(153, 153, 153), #ffffff);" width="2%"></td>
            </tr>
        </div>
    </body>
</html>